// foo library
#[link(name = "foo", vers = "0.1", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11    CAF5C")];
 #[crate_type = "lib"];

#[author = "Dan Octavian"];
#[license = "WTFPL"];

// i don't know what all this shit means 
#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[allow(structural_records)];
#[allow(deprecated_mode)];
#[allow(non_implicitly_copyable_typarams)];

pub mod shut_up_foo;

pub use shut_up_foo::*;
